.heading {
  &-1 {
    display: flex;
    align-items: center;
    font-size: 5rem;
    letter-spacing: -0.03em;
    font-family: $font-secondary;

    @media only screen and (max-width: 75em) {
      font-size: 4.5rem;
    }

    @media only screen and (max-width: 62.5em) {
      font-size: 4.25rem;
      text-align: center;
      justify-content: center;
    }

    @media only screen and (max-width: 56.25em) {
      font-size: 4rem;
    }

    @media only screen and (max-width: 48em) {
      font-size: 3.75rem;
    }

    @media only screen and (max-width: 37.5em) {
      font-size: 3.5rem;
    }

    @media only screen and (max-width: 31.25em) {
      font-size: 3rem;
    }

    @media only screen and (max-width: 25em) {
      font-size: 2.5rem;
    }

    @media only screen and (max-width: 20em) {
      font-size: 2rem;
    }

    span {
      margin-right: 1rem;
      background-image: linear-gradient(to right, #b0f3f1, #ffcfdf);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      display: inline-block;
    }

    &__sub {
      span {
        background-image: linear-gradient(
          to right,
          var(--color-white),
          var(--color-white)
        );
      }
    }
  }

  &-2 {
    font-size: clamp(2rem, 3.8vw, 4.2rem);
    line-height: 105%;
    letter-spacing: -0.03em;
    color: var(--color-white);
    font-family: $font-secondary;

    @media only screen and (max-width: 75em) {
      line-height: 110%;
    }

    @media only screen and (max-width: 62.5em) {
      line-height: 115%;
    }

    @media only screen and (max-width: 56.25em) {
      font-size: 3.8rem;
      line-height: 120%;
    }

    @media only screen and (max-width: 48em) {
      font-size: 3.5rem;
    }

    @media only screen and (max-width: 37.5em) {
      font-size: 3.2rem;
    }

    @media only screen and (max-width: 31.25em) {
      font-size: 2.8rem;
    }

    @media only screen and (max-width: 25em) {
      font-size: 2.4rem;
    }

    @media only screen and (max-width: 20em) {
      font-size: 2rem;
    }
  }

  &-3,
  &-4 {
    color: var(--color-white);
    font-family: $font-secondary;
    font-weight: 700;
    letter-spacing: -0.02em;
    line-height: 115%;
  }
}

.alexxandria-anim {
  background: linear-gradient(
    -45deg,
    #6da0a1,
    #213638,
    var(--color-white),
    var(--color-white)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400% 400%;
  line-height: 105%;
  animation: gradient 3s ease-in-out;

  @media only screen and (max-width: 62.5em) {
    line-height: 115%;
  }

  @media only screen and (max-width: 56.25em) {
    line-height: 125%;
  }
}

.chatify-anim {
  background: linear-gradient(
    -45deg,
    #22d3ee,
    #0ea5e9,
    #6366f1,
    #a855f7
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  display: inline-block;
  background-size: 400% 400%;
  line-height: 105%;
  animation: gradient 3s ease-in-out;
}

.safarika-anim {
  background: linear-gradient(
    -45deg,
    #9333ea,
    #ec4899,
    #f97316,
    #fbbf24
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400% 400%;
  line-height: 105%;
  animation: gradient 3s ease-in-out;
}

.heatrow-anim {
  background: linear-gradient(
    -45deg,
    #f59e0b,
    #f97316,
    #fb7185,
    #f472b6
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent !important;
  display: inline-block;
  background-size: 400% 400%;
  animation: gradient 3s ease-in-out;
}

.adeola-anim {
  background: linear-gradient(
    -45deg,
    #34d399,
    #10b981,
    #22d3ee,
    #06b6d4
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400% 400%;
  line-height: 105%;
  animation: gradient 3s ease-in-out;
}

.about-text {
  grid-column: 2/14;
  font-size: 2.2rem;
  line-height: 130.4%;
  color: var(--color-gray);
  display: block;
  padding: 0 6rem;
  margin-top: -8rem;
  margin-bottom: 6rem;

  @media only screen and (max-width: 75em) {
    grid-column: 1/15;
    padding: 0 5rem;
    font-size: 2rem;
  }

  @media only screen and (max-width: 62.5em) {
    padding: 0 4rem;
  }

  @media only screen and (max-width: 56.25em) {
    padding: 0 3rem;
    margin-top: -4rem;
    margin-bottom: 4rem;
    font-size: 1.7rem;
    br {
      display: none;
    }
    text-align: center;
  }

  @media only screen and (max-width: 48em) {
    padding: 0 2rem;
  }

  @media only screen and (max-width: 37.5em) {
    padding: 0 1.5rem;
  }

  @media only screen and (max-width: 31.25em) {
    padding: 0 1rem;
  }

  @media only screen and (max-width: 25em) {
    padding: 0 0.75rem;
  }

  @media only screen and (max-width: 20em) {
    padding: 0 0.5rem;
  }
}

.paragraph {
  font-size: 1.7rem;
  line-height: 130.4%;
  color: var(--color-gray);

  &__sub {
    color: #8b8b8b;
  }
}
